.item {
    display: flex;
    gap: 30px;
    background-color: #456990;
    padding: 20px;
    border-radius: 20px;
    height: 150px;
    width: 600px;
    margin-bottom: 40px;
    text-decoration: none;
}

.item:hover {
    background-color: #5686ba;
}